<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <h1>Asset Pipeline Dashboard</h1>

    <h2>Total Assets: {{ data["scanned assets"]|length }}</h2>

    <h3>Breakdown</h3>
    <ul>
        {% for ext, count in data["total number of assets"].items() %}
            <li>{{ ext }} : {{ count }}</li>
        {% endfor %}
    </ul>

    <h3>Naming Errors</h3>
    <ul>
        {% for error in data["errors"] %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>

    <h3>Duplicates</h3>
    <ul>
        {% for name, paths in data["duplicate assets"].items() %}
            <li>{{ name }}
                <ul>
                    {% for path in paths %}
                        <li>{{ path }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>